.broken {
  text-decoration: line-through;
}

.decoration {
  background: #1eaedb;
  height: 2rem;
}

h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

h2 {
  font-size: 4rem;
  margin: 2rem 0;
}

ul.flat {
  list-style-type: none;
}
